.order {
  &-code {
    &-input {
      height: 5rem;
      border-radius: 0 0.5rem 0.5rem 0;
    }
    &-btn {
      height: 5rem;
      border-radius: 0.5rem 0 0 0.5rem;
      width: 16rem;
    }
  }
}
