.card {
  background-color: $white;
  box-shadow: 0 0 1rem rgba(70, 71, 73, 0.2);
  transition: all 0.2s ease-in;
  &:hover {
    transform: translateY(-0.3rem);
  }
  &-product {
    height: 25rem;
    width: 100%;
    padding: 3rem;
    &-img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
